body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dark-mode {
  background-color: rgb(15, 15, 16);
  color: white;
}
.button {
  background-color: blue;
  color: white;
  padding: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
/* my-styles.css */

.card {
  background-color: white;
  border: 4px solid gray;
  border-radius: 10px;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 0, 234);
  text-align: center;
}

.card-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 0, 234);
  text-align: center;
}

.form-control {
  font-size: 1.2rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  
}

.btn {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: white;
  color: gray;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: rgb(255, 0, 234);
  text-align: center;
  transition: all 0.3s;
  
}

.btn-secondary {
  color: white;
  background-color: rgb(255, 0, 234);
  text-align: center;
  transition: all 0.3s;
}
.btn-primary:active,
.btn-secondary:active {
  transform: scale(0.95);
}
.blue-bg {
  background-color: rgba(15, 182, 243, 0.5);
}

.btn-primary:hover,
.btn-secondary:hover {
  box-shadow: 0 0 10px rgb(255, 0, 234);
}
